# CLANG-FORMAT VERSION: 10.0
# NOT INCLUDED OPTIONS:
# CommentPragmas (string)
# DisableFormat (bool)
# ForEachMacros (std::vector<std::string>)
# IncludeCategories (std::vector<IncludeCategory>)
# IncludeIsMainRegex (std::string)
# IncludeIsMainSourceRegex (std::string)
# Language (LanguageKind)
# MacroBlockBegin (std::string)
# MacroBlockEnd (std::string)
# PenaltyBreakAssignment (unsigned)
# PenaltyBreakComment (unsigned)
# PenaltyBreakFirstLessLess (unsigned)
# PenaltyBreakString (unsigned)
# PenaltyExcessCharacter (unsigned)
# RawStringFormats (std::vector<RawStringFormat>)
# JavaImportGroups (std::vector<std::string>)
# NamespaceMacros (std::vector<std::string>)
# StatementMacros (std::vector<std::string>)
# TypenameMacros (std::vector<std::string>)
# UseCRLF (bool)
# ====================================================
# Letter A ===========================================
AccessModifierOffset: -4
# Always
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: No


# Alings
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true
AlignAfterOpenBracket: Align
# AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
# Allows 
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None

# ====================================================


# Letter B ===========================================

# Breaks
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true
BreakAfterJavaFieldAnnotations: true
BreakBeforeBinaryOperators: None
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: false

# BinPack
BinPackArguments: false
BinPackParameters: false

#Brace Wrapping
BreakBeforeBraces: Custom
BraceWrapping:
    IndentBraces: false
    
    # After
    AfterCaseLabel: false
    AfterClass: false
    AfterControlStatement: Never
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    
    # Before
    BeforeCatch: true
    BeforeElse: true
    # Split
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
# ====================================================


# Letter C ===========================================
ColumnLimit: 80
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
# ====================================================


# Letter D ===========================================
DeriveLineEnding: true
DerivePointerAlignment: false

# ====================================================


# Letter E ===========================================
ExperimentalAutoDetectBinPacking: false
# ====================================================


# Letter F ===========================================
FixNamespaceComments: false
# ====================================================


# Letter I ===========================================
IncludeBlocks: Regroup
# Indents
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: None
IndentWidth: 4
IndentWrappedFunctionNames: false
# ====================================================


# Letter J ===========================================
JavaScriptQuotes: Double
JavaScriptWrapImports: true


# Letter K ===========================================
KeepEmptyLinesAtTheStartOfBlocks: false
# ====================================================


# Letter M ===========================================
MaxEmptyLinesToKeep: 2
# ====================================================


# Letter N ===========================================
NamespaceIndentation: All
# ====================================================


# Letter O ===========================================
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: false
# ====================================================


# Letter P ===========================================
# maybe there will be a reasons for the bugs
PenaltyExcessCharacter: 1
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyReturnTypeOnItsOwnLine: 0
PointerAlignment: Right


# Letter R ===========================================
ReflowComments: true
# ====================================================


# Letter S ===========================================
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInConditionalStatement: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Auto
# ====================================================


# Letter T ===========================================
TabWidth: 4
# ====================================================


# Letter U ===========================================
UseTab: Never
# ====================================================
