{
  "tabWidth": 4,
  "useTabs": false
  {
    "prettier.spaceBeforeFunctionParen": true,
    "editor.formatOnType": true,
    "typescript.format.insertSpaceAfterOpeningAndBeforeClosingJsxExpressionBraces": true,
    "typescript.format.placeOpenBraceOnNewLineForControlBlocks": true,
    "typescript.format.placeOpenBraceOnNewLineForFunctions": true
  }
}
